{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Palwatte Distillery </h1>
            </div>
            <p id="count">Initializing live stream...</p>
            <img id="photo" src="#" alt="-">
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/app.monitor.js') }}"></script>

{% endblock %}
