{% extends 'base.html.twig' %}

{% block body %}
    <h3>Rules</h3>
    <div class="list-group wider">
        <button type="button" class="list-group-item">These Boots Are Made For Walking</button>
        <button type="button" class="list-group-item active">Eleanor, Put Your Boots On</button>
        <button type="button" class="list-group-item">Puss 'n' Boots</button>
        <button type="button" class="list-group-item">Die With Your Boots On</button>
        <button type="button" class="list-group-item">Fairies Wear Boots</button>
    </div>


{% endblock %}